.m-btn {
    display: flex;
    align-items: center;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    outline: unset;
    border: none;
    cursor: pointer;
    min-width: 100px;
}

.m-btn:hover {
    background-color: #2FBE8E;
}

.m-btn:active {
    background-color: #01B075;
}


/* button icon */

.m-btn .m-btn-icon {
    width: 16px;
    height: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    background-image: url('../../content/icon/add.png');
    background-repeat: no-repeat;
    /* background-position: 16px 16px; */
}