.m-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.m-icon-warning {
    color: sandybrown;
}

.m-menu-item-icon {
    width: 20px;
    height: 20px;
}

.icon-setting {
    background-image: url(../../content/icon/setting.png);
}

.icon-dasboard {
    background-image: url(../../content/icon/dashboard.png);
}

.icon-report {
    background-image: url(../../content/icon/report.png);
}

.icon-customer {
    background-image: url(../../content/icon/dic-employee.png);
}