.m-row {
    position: relative;
    margin: 4px;
    display: block;
    width: 100%;
}

.m-row>label {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    font-weight: 700;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}